.box-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, rgb(179, 205, 240),rgb(204, 213, 241));
}
.text{
    margin: 15px;
}